* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  font-family: Monaco,  monospace, "Lucida Console", Courier, "Courier New";
}
.atc, .content, body, html {
  height: 100%;
}
.content {
  margin-top: -1.5em;
  padding-top: 1.5em;
}
.header {
  height: 1.5em;
  line-height: 1.5em;
}
.header div {
  float: left;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header div:active {
   background: gray;
}
.panel{
  float: left;
  height: 100%;
  padding: 1em;
  width: 100%;
}
body {
  font-size: 100%;
  margin: 0;
}