#editor {
  border: 0.1em solid black;
  font-size: 1em;
  height: 100%;
  outline: none;
  padding: 1em;
  resize: none;
  width: 100%;
}

.editor > .header div {
  width: 50%;
}

.clean:before {
  content: "Clean";
}
.merge:before {
  content: "Merge selection";
}