#editor {
  font-size: 1em;
  height: 100%;
  margin-top: 0.05em;
  outline: 0.1em solid black;
  padding: 0.5em;
  resize: none;
  width: 100%;
}

.editor > .header div {
  width: 50%;
}

.clean:before {
  content: "Clean";
}
.merge:before {
  content: "Merge";
}