/* atc */

.atc > .header .editor:before {
  content: "Editor";
}
.atc > .header .ledger:before {
  content: "Ledger";
}
.atc > .header .summary:before {
  content: "Summary";
}
.atc > .header .settings:before {
  content: "Settings";
}
.atc > .header .help:before {
  content: "Help";
}

/* editor */

.condense:before {
  content: "Condense all";
}
.merge:before {
  content: "Merge selection";
}
.no-save:before{
  content: "Saving disabled";
}
.unsaved:before {
  content: "Save";
}
.saved:before {
  content: "Saved";
}
.saving:before {
  content: "Saving...";
}

/* ledger */

.header .accounts:before {
  content: "Accounts";
}
.header .funds:before {
  content: "Funds";
}
.header .memos:before {
  content: "Memos";
}
.header .totals:before {
  content: "0.00";
}

/* summary */

.header .waiting:before {
  content: "Waiting";
}
.header .pending:before {
  content: "Pending";
}
.header .cleared:before {
  content: "Cleared";
}
.header .future:before {
  content: "Future";
}
.header .safe:before {
  content: "Safe";
}

/* settings */

.settings .header .settings:before {
  content: "Settings";
}

/* help */

.help .header .help:before {
  content: "Help";
}