/* general */

* {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}
.atc, .below-header, .window, body, html {
  height: 100%;
}
.below-header {
  margin-top: -2em;
  padding-top: 2em;
}
.header, .header div {
  height: 2em;
}
.header div {
  line-height: 2em;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.panel {
  float: left;
}
.panel, .window {
  padding: 1em;
}
.panel:not(.open){
  display: none;
}
.window {
  width: 100%;
  overflow-y: scroll;
}
body {
  font-size: 100%;
  margin: 0;
}

/* header field widths */

.atc > .header div {
  width: 20%;
}
.editor .header div {
  width: 33.33%;
}
.ledger .header div {
  width: 25%;
}
.settings .header div, .help .header div {
  width: 100%;
}
.summary .header div {
  width: 14.28%;
}

/* header text placement */

.atc > .header div, .editor .header div {
  text-align: center;
}
.ledger .header .totals, .summary .header div:not(.accounts):not(.funds) {
  text-align: right;
}
.panel:not(.editor) .header div {
  padding-left: 1em;
}
.panel:not(.editor) .header div:last-child {
  padding-right: 1em;
}
.summary .header .accounts, .summary .header .funds {
  text-align: left;
}

/* editor */

.editor .window {
  resize: none;
}