/* general */

* {
  font-family: Monaco,  monospace, "Lucida Console", Courier, "Courier New";
}
.window {
  border: 0.1em solid black;
  outline: none;
}

/* atc header */

.atc > .header div {
  background: #eee;
  border-bottom: 0.1em solid black;
}
.atc > .header div:active {
  background: gold;
}

/* editor header */

.editor .header {
  border-left: 0.1em solid black;
  border-right: 0.1em solid black;
}
.editor .header div {
  background: #eee;
  border-top: 0.1em solid black;
}
.editor .header div:active {
  background: gold;
}

/* summary header */

.summary .header {
  border-left: 0.1em solid black;
  border-right: 0.1em solid black;
}
.summary .header div {
  background: #eee;
  border-top: 0.1em solid black;
}
.summary .header:active div {
  background: gold;
}