/* general */

* {
  font-family: "Comic Sans MS", sans-serif;
}

.window {

  outline: none;
}


/* colors */

.atc > .header div, .editor .header div:not(.save):not(.saving):not(.saved):active, 
.summary .header:active div {
  background: #666;
}
.header {
  color: white;
}
.window {
  background: #fff;
}
html{
  background: #ccc;
}
  
/* header color palette */

.atc > .header .editor.open:not(:active), .atc > .header .editor:not(.open):active,
.editor > .header {
  background: #369;
}

.atc > .header .ledger.open:not(:active), .atc > .header .ledger:not(.open):active,
.ledger > .header {
  background: #963;
}

.atc > .header .summary.open:not(:active), .atc > .header .summary:not(.open):active,
.summary > .header {
  background: #396;
}

.atc > .header .settings.open:not(:active), .atc > .header .settings:not(.open):active,
.settings > .header {
  background: #639;
}

.atc > .header .help.open:not(:active), .atc > .header .help:not(.open):active,
.help > .header {
  background: #936;
}

/* saving */

.save {
  background: #963;
}
.save:active, .saving {
  background: #396;
}
.saved {
  background: #369;
}