/* general */

* {
  font-family: "Monaco", "Menlo", "Ubuntu Mono", "Droid Sans Mono", "Consolas", monospace;
}

/* general colors */

.atc{
  background: #ccc;
}
.atc > .header div, .editor .header div:not(.saving):not(.saved):active, 
.summary .header:active div {
  background: #ccc;
  color: black;
}
.window {
  background: #fff;
}
  
/* header color palette */

.atc > .header .editor.open:not(:active), .atc > .header .editor:not(.open):active,
.editor > .header {
  background: #069;
  color: white;
}

.atc > .header .ledger.open:not(:active), .atc > .header .ledger:not(.open):active,
.ledger > .header {
  background: #006;
  color: white;
}

.atc > .header .summary.open:not(:active), .atc > .header .summary:not(.open):active,
.summary > .header {
  background: #096;
  color: white;
}

.atc > .header .settings.open:not(:active), .atc > .header .settings:not(.open):active,
.settings > .header {
  background: #060;
  color: white;
}
.atc > .header .help.open:not(:active), .atc > .header .help:not(.open):active,
.help > .header {
  background: #777;
  color: white;
}

/* syntax highlighting */

.ace_wait {
  color: #a0a;
  outline: 0.1em solid #a0a;
}
.ace_pend {
  color: #aa0;
  outline: 0.1em solid #aa0;
}
.ace_clear {
  color: #0aa;
  outline: 0.1em solid #0aa;
}
.ace_pass {
  color: #aaa;
  outline: 0.1em solid #aaa;
}
.ace_pos-number {
  color: #0a0;
  outline: 0.1em solid #0a0;
}
.ace_neg-number {
  color: #a00;
  outline: 0.1em solid #a00;
}
.ace_percent {
  color: #00a;
  outline: 0.1em solid #00a;
}
.ace_atc-comment, .ace_atc-comment.ace_doc, .ace_atc-comment.ace_doc.ace_tag {
  color: #aaa;
  text-decoration: line-through;
}